//main: ../index.scss

.fa-sparkle {
  font-size: 2.8rem;
  color: $ca-yellow;
}

.about-image {
  .img {
    box-shadow: 0px 10px 20px 0px rgba(130,136,147,0.25);
    height: calc(5vw + 170px);
    font-size: calc(4rem + 2vw);

    img {
      width: 50%;
      max-width: 160px;
    }
    .h4 {
      width: 100%;
      text-align: center;
    }
  }
  > div {

    padding: 0.6rem;
    $bRadius: 12px;
    &:nth-of-type(1) .img{
      border-top-left-radius: $bRadius;
    }
    &:nth-of-type(2) .img{
      border-top-right-radius: $bRadius;
    }
    &:nth-of-type(3) .img{
      border-bottom-left-radius: $bRadius;
    }
    &:nth-of-type(4) .img{
      border-bottom-right-radius: $bRadius;
    }
  }
}


.circle-pattern-1 {
  opacity: 1;
  height: 39em;
  position: absolute;
  width: 42em;
  bottom: -10px;
  left: -10px;
  background: #fff;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  -webkit-animation: movebounce 3s linear infinite;
  animation: movebounce 3s linear infinite;
}
.circle-pattern-2 {
  opacity: 1;
  position: absolute;
  bottom: 15%;
  width: 90vw;
  height: 80vw;
  left: 5%;
  background-image: url('../assets/bg-forms/form-1.svg');
  -webkit-animation: movebounce 3s linear infinite;
  animation: movebounce 3s linear infinite;
  display: none;

  @include respond-to($large) {
    height: 39em;
    width: 50vw;
  };
  @include respond-to($medium){
    display: block;
  };

  &.end-circle-el {
    @include respond-to('(max-width: 1700px)') {
      display: none;
    };
  }
}


@keyframes movebounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.bg-gradient-1 {
  background-image: url('../assets/bg-gradients/bg-2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
}
.bg-gradient-2 {
  background-image: url('../assets/bg-gradients/bg-3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}
.bg-gradient-contact {
  background-image: url('../assets/bg-gradients/contact-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.contact-section {
  min-height: 100vh;
}

.bg-gradient-3 {
  min-height: 140px; padding: 0.9rem 1.6rem;
  background: linear-gradient(310deg, #b9328a, #233894);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 55s ease infinite;
  -moz-animation: AnimationName 55s ease infinite;
  animation: AnimationName 55s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


.icon-heading {
  padding-top: 0.6rem;
  svg {
    position: absolute;
    top: 1.2rem;
    right: calc(100% + 16px);
  }
}
