//main: ../../index.scss

$headerHeight: 90px;
$aboveHHeight: 50px;
$nav: $large;

.above-header {
  height: $aboveHHeight;
  z-index: 101;
  width: 100%;
  padding: 0 calc(32px + 1vw) 0 calc(32px + 1vw);
  transition: 0.3s ease;
  display: none;

  &.white a {
    color: $ca-green;
  }
  a {
    flex-flow: row wrap;
    display: flex;
    align-items: center;
    font-size: 0.78rem;
    padding-right: 20px;
    padding-left: 20px;

    .icon {
      margin-right: 6px;
      font-size: 1rem;
    }
    &:hover {
      color: $ca-yellow;
    }
  }
  @include respond-to($medium-large) {
    display: block;
  };
}


// HEADER
header {
  color: $font-color-primary-light;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  transition: 0.5s ease;
  @include translateY(-180px);
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0);

  a, li, p {
    color: inherit;
  }

  .logo-container {
    flex-grow: 1;
    transition: 0.45s ease-in 0.05s;
    opacity: 0;
    height: 100%;
    max-width: 60px;
    z-index: 1;
    margin-top: 2px;

    .logo {
      transform-origin: bottom;
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%) scale(1.4);
    }
  }

  &.fixed {
    @include respond-to($medium-large) {
      transform: translateY(-74px)!important;
      box-shadow: 2px 2px 8px 0 rgba(0,0,0,.3);

      transform: translateY(-50px)!important;
      background-color: #fff;

      .logo-container .logo {
        transform: scale(1) translateY(-50%);
      }
    };
  }
  @include respond-to('(max-width: 992px)') {
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0,0,0,0.4);
    .logo-container {
      max-width: 55px;
      .logo {
        transform: scale(1) translateY(-50%);
      }
    }
    .nav__content {
      padding-top: 130px;
    }
  };


  .extra-link {
    padding: 0.9rem calc(32px + 1vw);
    @include respond-to($medium-large) {
      max-width: 360px;
      min-width: 300px;
      flex-grow: 1;
    };
  }

  &.open {
    transition: 0.5s ease;
    &:before {
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      background-color: #fff;
      height: 130px;
    }
  }
}
// HEADER END
